{% extends 'blog/base.html' %}

{% block content %}
<div class="">
    <h2>Please login:</h2>
    <h3>(Must be a superuser, please check with the site admin)</h3>

    {% if form.errors %}
    <p>Your username and password did't match</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {% form.as_p %}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="text" class="btn btn-primary" value="{{next}}">
    </form>
</div>
{% endblock %}